*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
  background-color: cornsilk;
}

.header {
  width: 100%;
  text-align: center;
  margin: 2em auto;
}

.wrapper {
  max-width: 320px;
  margin: auto;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  list-style: none;
}

.item {
  position: relative;
  margin: 5px;
  padding: 5px;
  background-color: lightgray;
  border: blueviolet solid 1px;
  overflow: hidden;
}

.item:active {
  border: palevioletred dotted 1px;
  box-shadow: 3px 3px 2px 1px lightgray;
}

.item:has(.item-input:checked) {
  border: palevioletred solid 1px;
}

.item:has(.item-input:checked):active {
  border: blueviolet dotted 1px;
}

.item-input {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 99;
}

.item-input:hover {
  cursor: pointer;
}

.icon {
  position: absolute;
  font-size: 2em;
  color: darkgray;
  right: 0;
  top: 0;
  transform: translate(-10%, 10%);
  transition: all .5s;
}

.item:hover .icon,
.item-input:checked ~ .icon {
  transform: translate(-10%, 10%) rotate(90deg);
}

.item-input:checked ~ .icon {
  border-radius: 50%;
  background-color: palevioletred;
}

.item-tittle {
  margin: 1em 2em;
}

.list:has(.item-input:hover) > .item > .item-tittle {
  color: blue;
}

.item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  column-gap: 1em;
  margin: .5em 1em;
  max-height: 0;
  transition: max-height .5s cubic-bezier(0, 1, 0, 1);
}

.item:hover .item-content,
.item-input:checked ~ .item-content {
  max-height: 200vh;
  transition: max-height .5s cubic-bezier(1, 0, 1, 0);
}

.item-image {
  width: 100%;
  align-self: center;
  margin: 1em auto;
}

@media (min-width: 820px) {
  body {
    font-size: 16px;
  }

  .wrapper {
    max-width: 800px;
  }
}

@media (min-width: 1920px) {
  body {
    font-size: 18px;
  }

  .wrapper {
    width: 1280px;
  }
}