* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: cornsilk;
}

.header {
  width: 100%;
  font-size: 2em;
  text-align: center;
  margin: 2rem auto;
  color: blue;
}

.wrapper {
  margin: auto;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  list-style: none;
}

.item {
  position: relative;
  margin: .1rem;
  background-color: lightgray;
  border: blueviolet solid .1rem;
  overflow: hidden;
}

.item:active {
  border: palevioletred dotted .1rem;
  box-shadow: .2rem .2rem .2rem .1rem lightgray;
}

.item:has(.item-input:checked) {
  border: palevioletred solid .1rem;
}

.item:has(.item-input:checked):active {
  border: blueviolet dotted .1rem;
}

.item-input {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 99;
}

.item-input:hover {
  cursor: pointer;
}

.item-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: .3rem 1rem 0 0;
  font-size: 1.5em;
  font-weight: bold;
}

.icon {
  opacity: 0;
  color: darkgray;
  transition: all .5s;
}

.list:has(.item-input:hover) > .item > .item-header > .icon {
  opacity: 1;
}

.item:hover > .item-header > .icon,
.item-input:checked ~ .item-header > .icon {
  transform: rotate(90deg);
}

.item-input:checked ~ .item-header > .icon {
  border-radius: 50%;
  background-color: palevioletred;
  opacity: 1;
}

.item-tittle {
  margin: 1rem;
  color: blue;
}

.list:has(.item-input:hover) > .item > .item-header > .item-tittle,
.item-input:checked ~ .item-header > .item-tittle{
  color: black;
}

.item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  column-gap: 1rem;
  margin: 0 1rem .5rem 1rem;
  max-height: 0;
  transition: max-height .5s cubic-bezier(0, 1, 0, 1);
  overflow: hidden;
}

.item:hover .item-content,
.item-input:checked ~ .item-content {
  max-height: 200vh;
  transition: max-height .5s cubic-bezier(1, 0, 1, 0);
}

.item-image {
  width: 100%;
  align-self: center;
  margin: 0 auto 1rem auto;
}

.item-description {
  font-size: 1em;
  color: midnightblue;
}

@media (max-width: 299px) {
  body {
    font-size: 11px;
    background-color: yellow;
  }

  .wrapper {
    max-width: 280px;
  }
}

@media (min-width: 300px) {
  body {
    font-size: 12px;
  }

  .wrapper {
    max-width: 300px;
  }
}

@media (min-width: 480px) {
  body {
    font-size: 14px;
  }

  .wrapper {
    max-width: 460px;
  }
}

@media (min-width: 820px) {
  body {
    font-size: 16px;
  }

  .wrapper {
    max-width: 800px;
  }
}

@media (min-width: 1920px) {
  body {
    font-size: 18px;
  }

  .wrapper {
    width: 1280px;
  }
}